* {
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.nav-bar {
    display: grid;
    position: fixed;
    height: 20%;
    width: 100%;
    background: linear-gradient(to right, rgb(160, 232, 160), orange, purple);
    color: blue;
}

.side-bar {
    display: grid;
    position: fixed;
    width: 25%;
    height: 100%;
    margin-right: 75%;
    background: linear-gradient(to top, red, rgb(125, 125, 243), yellow, rgb(147, 221, 147));
    top: 20%;
    
}
h1 {
    text-align: center;
}
/*.side-bar ::after {
    content: '';
    background: url("healthy-lifestyle-quotes.jpg");
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 20%;
    height: ;
}*/

.dashboard {
    /*display: flex;
    align-items: center;*/
    /*justify-content: center;*/
   /* background-image: url(https://images.pexels.com/photos/1005417/pexels-photo-1005417.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;*/
    
    display: grid;
    position: fixed;
    width: 75%;
    height: 100%;
    margin-left: 25%;
    top: 20%;
    

    /*background-image: linear-gradient(to right, black, grey, rgb(171, 159, 159));*/
}
#back {
    height: 100%;
    width: 100%;
}
.logo {
    height: 17%;
    display: block;
    position: fixed;
    right: 0;
    margin-right: 1%;
    margin-top: 10px;
}
.header {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    position: absolute;
}
#header {
    opacity: 10%;
    margin-left: 15%;
    height: 100%;
    width: 80%;
}
#run {
    opacity: 15%;
    height: 100%;
    width: 100%;
}
.instr {
    text-align: center;
    margin-top: 20%;
    position: absolute;
}
#QuizQn{
    padding: 20px;
    background: #ba4c99;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

#quizWrap {
    max-width: 100%;
    height: 50%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#quizAns{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#quizAns input[type=radio] { display: none; }

#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
  }

  #quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}

* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }

/* WIDGET */
.widget-wrap {
    width: 70%;
    height: 70%;
    padding: 30px;
    border-radius: 20px;
    background: rgba(20, 201, 207, 0.4);
    margin: auto;
    position: absolute;
    margin-left: 15%;
    margin-top: 15%;
}
  /* FOOTER */
  #code-boxx {
    font-weight: 600;
    margin-top: 30px;
  }
  #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #d0df00;
    color: #fff;
}
